@import './core/colors';
@import './core/fonts';

.mainContainer {
	font-family: font(raleway);
	display: flex;
	min-height: 100vh;
	align-items: center;
	text-align: center;

	.formBox {
		background-color: color(white);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		padding: 50px;
		width: 90vw;
		// margin: auto;
		margin: 2rem auto;
		max-width: 400px;

		img {
			max-width: 150px;
		}

		h2 {
			margin-top: 2vh;
			font-size: 20px;
			color: color(secondary);
			font-weight: 600;
		}

		.form {
			margin-top: 2vh;
		}

		.separator {
			margin-top: 3vh;
			display: flex;
			align-items: center;
			text-align: center;
			color: color(secondary);
			font-family: font(balsamiqSans);
			font-size: 15px;
		}

		.separator::before,
		.separator::after {
			content: '';
			flex: 1;
			border-bottom: 1px solid color(secondary);
		}
		.separator::before {
			margin-right: 0.25em;
		}
		.separator::after {
			margin-left: 0.25em;
		}

		.signButton {
			margin-top: 2vh;
		}
	}
}

@media screen and (max-width: 500px) {
	.mainContainer {
		.formBox {
			background-color: transparent;
			box-shadow: none;
		}
	}
}

@media screen and (max-width: 300px) {
	.mainContainer {
		.formBox {
			padding: 10px;
		}
	}
}
