%defaultProductLdc {
	font-family: font(secondary);

	svg {
		margin-right: 5px;
		font-size: 16px;
	}
}

%defaultProductImage {
	width: 100%;
	object-fit: cover;
	max-width: inherit;
}

%defaultProductName {
	text-align: left;
	font-size: 20px;
	font-family: font(secondary);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

%defaultProductDescription {
	margin-top: -10px;
	color: color(primary);
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

%defaultButton {
	display: flex;
	align-items: center;
	justify-content: center;
	color: color(secondary);
	cursor: pointer;
	background-color: rgba(color(accent), 0.6);
	flex-basis: 50%;
	text-align: center;
	text-transform: uppercase;
	font-family: font(secondary);
}
