.navbar-dark .navbar-nav .nav-link {
	margin: auto 0.2vw;
}

.navbar-brand {
	margin-right: 0px;
}

#navSearchIcon {
	font-size: 18px;
	color: #f5f5f5;
	margin: auto 1.5vw;
}

.navIcon {
	font-size: 22px;
}

#navSearchBox {
	display: flex;
	background-color: #424242;
}

#navSearchInput {
	color: #f5f5f5;
	width: 55vw;
	margin-right: 10px;
	background-color: #424242;
	border: none;
	/* border-bottom: #eeeeee 1px solid; */
	box-shadow: none;
}
#navSearchInput::placeholder {
	text-align: center;
}
#mobileSearchBox {
	display: none;
}
#mobileSearchBoxItem {
	display: flex;
	/* margin: 1vh auto; */
	width: 93vw;
	margin: 0 auto;
}

#mobileSearchIcon {
	margin: auto 2.5vw;
	font-size: 18px;
	color: #f5f5f5;
}

#mobileSearchInput {
	color: #f5f5f5;
	margin-right: 10px;
	background-color: #424242;
	border: none;
	/* border-bottom: #eeeeee 1px solid; */
	font-size: 16px;
	box-shadow: none;
}

#logo {
	width: 3em;
	margin: auto 1rem;
}

@media screen and (max-width: 700px) {
	#navSearchInput {
		color: #f5f5f5;
		width: 40vw;
	}
}

@media screen and (max-width: 500px) {
	#userImage {
		display: none;
	}

	/* #navSearchInput {
		width: 40vw;
	}
	#navSearchInput::placeholder {
		font-size: 15px;
	} */
	/* 
	#logo {
		width: 2.5em;
		margin: auto 5px;
	} */

	/* 
	#navSearchIcon {
		font-size: 15px;
		margin: auto 3.5vw;
	} */

	/* .navIcon {
		font-size: 18px;
	} */

	.navbar-dark .navbar-nav .nav-link {
		margin: auto 0.1vw;
	}

	#navSearchBox {
		display: none;
	}

	#mobileSearchBox {
		display: block;
	}

	.navbar {
		padding: 0.2rem 1rem;
	}
}

@media screen and (max-width: 350px) {
	#logo {
		width: 2em;
		margin: auto 5px;
	}
	#searchIcon {
		display: none;
	}
	#searchInput::placeholder {
		font-size: 14px;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: #f5f5f5;
	-webkit-box-shadow: 0 0 0px 1000px #000 inset;
	transition: background-color 5000s ease-in-out 0s;
}
