@import url('https://fonts.googleapis.com/css2?family=Raleway');

/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 36px;
	outline: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
	position: fixed;
	height: 100%;
}

/* General sidebar styles */
.bm-menu {
	background: #212121;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	font-family: raleway;
	color: #b8b7ad;
	padding: 0.8em;
}

/* Individual item */
.bm-item {
	display: inline-block;
	text-decoration: none !important;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}

.bm-item:hover {
	color: #ef5350;
}

.bm-item span {
	text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

a {
	padding: 0.6em;
	display: block;
	color: #fafafa;
	text-align: center;
}

.bm-cross-button > button {
	outline: none;
}

.active {
	color: #ef5350;
}

#userImageMain {
	cursor: pointer;
	max-width: 180px;
	margin: 0 auto 1vh auto;
	text-align: center;
}

#userImageMain:hover {
	box-shadow: 0 0 20px rgba(239, 83, 80, 0.9);
	transition: box-shadow 0.3s ease-in-out;
}

#navAnchor {
	text-align: center;
	margin-bottom: 2vh;
}

#homeAnchor {
	margin-top: 2vh;
}

#signOutNav {
	text-align: center;
	margin: 2vh 0;
	background-color: rgba(239, 103, 100, 0.5);
	padding: 0.4rem 0;
	color: white;
	cursor: pointer;
}

@media screen and (max-width: 500px) {
	#userImageMain {
		max-width: 130px;
	}
	#navAnchor {
		margin-bottom: 4vh;
	}
}
