@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Kalam');

.mainContainer {
	font-family: raleway;
	display: flex;
	height: 100vh;
	/* background-color: #f8f8f8; */
	align-items: center;
	text-align: center;
}

.formBox {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 50px;
	width: 90vw;
	margin: auto;
	max-width: 400px;
}
.formBox > h2 {
	margin-top: 4vh;
	font-size: 20px;
	color: black;
	font-weight: 600;
}

.formBox > hr {
	margin-top: 5vh;
	height: 0.5px;
	border-color: rgba(255, 255, 255, 0.2);
}

.form {
	margin-top: 2vh;
}

.separator {
	margin-top: 3vh;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000;
	font-family: 'Balsamiq Sans';
	font-size: 15px;
}

.separator::before,
.separator::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid #000;
}
.separator::before {
	margin-right: 0.25em;
}
.separator::after {
	margin-left: 0.25em;
}

.signButton {
	margin-top: 2vh;
}

.btn-log,
.btn-log:active,
.btn-log:hover {
	background-color: rgb(253, 186, 73) !important;
	box-shadow: none;
	border: none;
}

#error-alert {
	color: white;
	background-color: rgba(239, 103, 100, 0.4);
	border: none;
	font-size: 13px;
	padding: 0.75rem 1rem;
}

#error-success {
	color: white;
	background-color: rgba(129, 199, 132, 0.4);
	border: none;
	font-size: 13px;
}

@media screen and (max-width: 500px) {
	.formBox {
		background-color: transparent;
		box-shadow: none;
	}
}
