@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Kalam&family=PT+Sans&family=Balsamiq+Sans');

@font-face {
	font-family: 'Cera Pro';
	font-weight: normal;
	font-style: normal;
	font-display: swap; /* Read next point */
	unicode-range: U+000-5FF; /* Download only latin glyphs */
	src: url('/fonts/CeraPro-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Cera Pro';
	font-weight: 500;
	font-style: normal;
	font-display: swap; /* Read next point */
	unicode-range: U+000-5FF; /* Download only latin glyphs */
	src: url('/fonts/CeraPro-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Cera Pro';
	font-weight: bold;
	font-style: normal;
	font-display: swap; /* Read next point */
	unicode-range: U+000-5FF; /* Download only latin glyphs */
	src: url('/fonts/CeraPro-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Cera Pro';
	font-weight: 900;
	font-style: normal;
	font-display: swap; /* Read next point */
	unicode-range: U+000-5FF; /* Download only latin glyphs */
	src: url('/fonts/CeraPro-Black.woff') format('woff');
}

$fonts: (
	primary: 'raleway',
	secondary: 'Cera Pro',
	kalam: 'kalam',
	ptSans: 'PT Sans',
);

@function font($fontName) {
	@return map-get($map: $fonts, $key: $fontName);
}
