@import url('https://fonts.googleapis.com/css2?family=PT+Sans');

.breadcrumb-item {
	text-decoration: none;
	color: #616161;
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: 700;
}

.breadcrumb-item.active {
	text-decoration: none;
	color: #616161;
}

.breadcrumb-item a {
	text-decoration: none;
	color: #616161;
}

.breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: 0.5rem;
	content: '>';
}
