.error-alert {
	border-radius: 5px;
	font-family: font(primary);
	color: color(secondary);
	background-color: rgba(color(error), 0.35);
	font-size: 14px;
	padding: 0.75rem 1rem;
	border: none;
}

.success-alert {
	border-radius: 5px;
	font-family: font(primary);
	color: color(secondary);
	background-color: rgba(color(success), 0.35);
	font-size: 14px;
	border: none;
}
