@import '../../core/colors';

.mainNav {
	background-color: color(backgroundSecondary);

	.navbar-brand {
		#logo {
			width: 3em;
			margin: auto 1rem;
		}
	}

	#navSearchBox {
		display: flex;
		background-color: color(secondary);
		border-radius: 5px;

		#navSearchIcon {
			font-size: 18px;
			color: color(text);
			margin: auto 1.5vw;
		}

		#navSearchInput {
			color: color(text);
			width: 55vw;
			margin-right: 12px;
			background-color: color(secondary);
			border: none;
			box-shadow: none;
		}
		#navSearchInput::placeholder {
			text-align: center;
		}

		#navSearchInput:-webkit-autofill,
		#navSearchInput:-webkit-autofill:hover,
		#navSearchInput:-webkit-autofill:focus {
			-webkit-text-fill-color: color(text);
			-webkit-box-shadow: 0 0 0px 1000px color(secondary) inset;
			transition: background-color 5000s ease-in-out 0s;
		}
	}
}

.nav-link {
	margin: auto 0.2vw;
}

.navbar-brand {
	margin-right: 0px;
}

.navIcon {
	font-size: 22px;
	color: color(text);
}

#mobileSearchBox {
	background-color: color(backgroundSecondary);
	padding: 0.2rem 0.6rem 0.6rem 0.6rem;
	display: none;

	#mobileSearchBoxItem {
		background-color: color(secondary) !important;
		display: flex;
		width: 93vw;
		margin: 0 auto;
		border-radius: 5px;

		#mobileSearchIcon {
			margin: auto 2.5vw;
			font-size: 18px;
			color: color(text);
		}

		#mobileSearchInput {
			color: color(text);
			margin-right: 10px;
			background-color: color(secondary);
			border: none;
			font-size: 16px;
			box-shadow: none;
		}

		#mobileSearchInput:-webkit-autofill,
		#mobileSearchInput:-webkit-autofill:focus,
		#mobileSearchInput:-webkit-autofill:hover {
			-webkit-text-fill-color: color(text);
			-webkit-box-shadow: 0 0 0px 1000px color(secondary) inset;
			transition: background-color 5000s ease-in-out 0s;
		}
	}
}

#mainNavHeart {
	color: color(accent);
}

@media screen and (max-width: 700px) {
	.mainNav {
		#navSearchBox {
			#navSearchInput {
				color: color(text);
				width: 40vw;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	#userImage {
		display: none;
	}

	.nav-link {
		margin: auto 0.1vw;
	}

	.mainNav {
		padding: 0.2rem 1rem;
		#navSearchBox {
			display: none;
		}
	}

	#mobileSearchBox {
		display: block;
	}
}

@media screen and (max-width: 350px) {
	.mainNav {
		.navbar-brand {
			#logo {
				width: 2em;
				margin: auto 5px;
			}
		}
	}

	#mobileSearchBox {
		#mobileSearchBoxItem {
			#mobileSearchIcon {
				display: none;
			}
			#mobileSearchInput::placeholder {
				font-size: 14px;
			}
		}
	}
}
