.mobileProductPageContainer {
	margin-top: 10px;
	padding: 0 10px;

	.productCarousel {
		@extend %defaultProductPageCarousel;
		.carousel-inner {
			img {
				height: 40vh;
			}
		}
	}

	.productName {
		@extend %defaultProductPageName;
		margin-top: 10px;
		font-size: 20px;
	}

	.mobileProductPageMixedContainer {
		display: flex;

		.productLdc {
			@extend %defaultProductPageLdc;
			flex-basis: 40%;
			font-size: 27px;
		}

		.productStarRating {
			flex-basis: 60%;
			text-align: right;
		}
	}

	.productDescription {
		@extend %defaultProductPageDescription;
	}
}

.mobileProductPageActions {
	@extend %defaultProductPageActions;
	background-color: color(white);
	position: sticky;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: color(background);
	box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.2);

	.barter {
		@extend %defaultProductPageButton;
		font-size: 18px;

		svg {
			font-size: 18px;
			margin: auto 0;
			margin-right: 10px;
		}
	}

	.wishlist {
		@extend %defaultProductPageButton;
		padding: 0;
		font-size: 18px;
		background-color: color(background);

		svg {
			font-size: 32px;
			margin: auto 0;
			margin-right: 10px;
		}
	}
}
