@import './fonts';
@import './colors';

.btn,
.btn:active,
.btn:hover,
.btn:focus {
	color: color(text);
	font-family: font(balsamiqSans);
	background-color: color(accent);
	box-shadow: none;
	border: none;
	border-radius: 5px;
}
